@{
    ViewData["Title"] = "My Pet's Homepage";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Archie's Website!</h1>
    <img src="https://preview.redd.it/so-im-curious-ive-been-reading-about-the-different-husky-v0-5u1ezkldgqu81.jpg?width=1080&crop=smart&auto=webp&s=e366034014a21b6130efa10ca8e263d4e2fbbef2" alt="Your Pet" class="img-fluid rounded" style="max-width: 300px; margin: 20px 0;">
    <p>Hello! My name is Archie, and I am a husky dog.</p>
    <p>Explore my site to see my photos,and learn more about me!</p>
    <a href="Home/Privacy" class="btn btn-primary" style="text-align = center">View My Gallery</a>
    <a href="DogAges/Index" class="btn btn-primary" style="text-align = center">Enter My Age</a>
</div>
