@model MyPet.Models.Dog

@{
    ViewData["Title"] = "My Pet's Homepage";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @Model.Name's Website!</h1>
    <img src="@Model.ImageUrl" alt="Your Pet" class="img-fluid rounded" style="max-width: 300px; margin: 20px 0;">
    <p>@Model.HomeContent</p>

    <li class="nav-item">
        <a class="nav-link" asp-controller="Dog" asp-action="Index">За Пешо</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Dog" asp-action="Gallery">Галерия</a>
    </li>
</div>
